/* Base styles (Mobile first) */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-bottom: 1.5px solid var(--light-red);
    width: 100%;
    max-width: 500px;
}


.text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    padding-bottom: 2rem;
}

.text p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.appName {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Lora", serif;
}

.appImage {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.appTypeContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.icon {
    width: 25px;
}

.application {
    font-family: "Bona Nova", serif;
    color: var(--light-red);
    padding: 0.25rem 0.75rem .25rem 0;
    font-size: 0.8rem;
    font-weight: 600;
}

.skillsContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 0.5rem; */
    margin-bottom: 1rem;
    /* border-right: 1px solid var(--light-red); */
}

.skillTag {
    /* background-color: var(--light-red); */
    font-family: "Bona Nova", serif;
    color: var(--light-red);
    padding: 0.25rem 0.75rem;
    border-left: 1px solid var(--light-red);
    font-size: 0.8rem;
    font-weight: 600;
}

/* .link {
    width: fit-content;
} */

/* Tablet (768px and up) */
@media (min-width: 768px) {
    .card {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
        max-width: none;
        align-items: center;
    }

    .text {
        text-align: left;
        gap: 1rem;
    }

    .text p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .appName {
        font-size: 1.75rem;
    }

    .appImage {
        width: 45%;
    }

    .skillTag, .application {
        font-size: 0.9rem;
    }
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
    .card {
        gap: 3rem;
        padding: 2.5rem 3rem;
    }

    .text {
        gap: 1rem;
    }

    .appName {
        font-size: 2rem;
    }

    .appImage {
        width: 40%;
    }
}

/* Large Desktop (1440px and up) */
@media (min-width: 1440px) {
    .card {
        gap: 5rem;
        padding: 2.5rem 5rem;
        align-items: flex-start;
    }

    .text p {
        font-size: 1.1rem;
    }

    .text {
        padding-top: 4rem;
    }
}


