/* styles/Game.module.css */
.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    /* Maximum width */
}

.gameArea {
    position: relative;
    border: 2px solid var(--light-red);
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: auto;
    max-height: 90vh;
    touch-action: manipulation;
}

.howToPlay {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding: 0 10px;
    width: 100%;
}

/* For very small screens */
@media (max-width: 480px) {
    .gameContainer {
        margin: 5px auto;
    }

    .howToPlay {
        font-size: 0.7rem;
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .gameContainer {
        margin: 10px auto;
    }

    .howToPlay {
        font-size: 0.8rem;
    }
}

@media (max-width: 1440px) {
    .gameArea {
        width: 80vw;
    }
}