/* Thumbnail Styling */
.img {
    cursor: zoom-in;
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

/* .img:hover {
    transform: scale(1.05);
} */

/* Modal Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal */
.modal {
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.modal img {
    width: auto;
    height: 80vh;
    cursor: zoom-out;
}